.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000080;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  display: flex;
}

.modal__container {
  box-sizing: border-box;
  padding: 0 36px 0;
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  min-height: 325px;
  margin: 0 19px 0;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 25px #00000026;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.modal__close-button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -48.25px;
  right: -48.25px;
  background-color: transparent;
  border-style: none;
  background-image: url("../images/close_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.2s ease-in;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__form-title {
  color: #000;
  margin: 0 0 54px;
  font-size: 24px;
  font-weight: 900;
}
.modal__form-title_form_new-card {
  font-size: 23px;
  line-height: 1.21;
}

.modal__input {
  border-style: none;
  border-bottom: 1px solid #00000033;
  padding: 0 0 13.3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}

.modal__input:focus {
  border-style: none;
}

.modal__input:not(:last-of-type) {
  margin-bottom: 30px;
}

.modal__submit-button {
  font-size: 18px;
  font-weight: 400;
  margin-top: 48px;
  height: 50px;
  border-style: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  transition: opacity 0.2s ease-in;
}

.modal__submit-button:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 621px) {
  .modal__container {
    padding: 0 22px 0;
  }
  .modal__close-button {
    height: 26px;
    width: 26px;
    top: -39.6px;
    right: 0;
  }

  .modal__form-title {
    font-size: 18px;
    margin-bottom: 75px;
  }
}
