.page {
  max-width: 880px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  padding: 45px 20px 60px;
  color: #fff;
}

.page__enlarged-card {
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 320px) {
  .page {
    padding: 28px 0 36px;
  }
}
