.profile {
  margin: 0 auto;
  padding: 40px 0 51px;
  display: flex;
  align-items: center;
}

.profile__avatar-container {
  height: 120px;
  width: 120px;
  margin-right: 40px;
}

.profile__avatar-container:hover {
  background: url("../images/edit_pencil.svg") center/26px no-repeat #000c;
  cursor: pointer;
}

.profile__avatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

.profile__details {
  margin: 0 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "name edit"
    "title title";
}

.profile__name {
  grid-area: name;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__title {
  grid-area: title;
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.profile__edit-button {
  grid-area: edit;
  width: 24px;
  height: 24px;
  margin: auto 0 10px 10px;
  background-color: #000;
  background-image: url("../images/edit_button.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  transition: opacity 0.2s ease-in;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  max-width: 150px;
  width: 100%;
  min-width: 50px;
  height: 50px;
  background-color: #000;
  background-image: url("../images/add_button.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  transition: width 0.2s ease-in-out;
  margin-left: auto;
  transition: opacity 0.2s ease-in;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .profile__name {
    font-size: 22px;
  }
  .profile__title {
    font-size: 14px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-bottom: 4px;
  }
  .profile__avatar {
    margin-right: 20px;
    /* will correctly display images w/ any proportions */
    object-fit: cover;
  }
}

@media screen and (min-width: 621px) and (max-width: 775px) {
  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 621px) {
  .profile {
    display: flex;
    flex-direction: column;
    min-height: 286px;
    padding: 42px 0 36px;
    align-items: center;
    justify-content: space-between;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__details {
    text-align: center;
  }

  .profile__add-button {
    max-width: 282px;
    margin: 0;
  }
}
